<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Чтобы в JSON были стандартные поля -->
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>hubId</includeMdcKeyName>
            <includeMdcKeyName>eventType</includeMdcKeyName>
            <includeMdcKeyName>topic</includeMdcKeyName>
            <includeMdcKeyName>key</includeMdcKeyName>

            <!-- Доп поля, одинаковые для всех логов сервиса -->
            <customFields>{"service":"collector"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
